* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-visual {
  width: 100%;
  height: 400px;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}

.main-visual-text {
  padding: 20px;
}

main {
  display: flex;
  justify-content: center;
}

.blog {
  margin: 20px 0 50px 0;
  width: 840px;
}

.blog-item {
  padding: 30px 0;
  border-bottom: 1px solid gray;
}

.blog-text,h1 {
  color: gray;
}